{% extends "quiz/base.html" %}
{% load static %}
{% block body %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<style type="text/css">
</style>

<script src="{% static 'assets/logic.js' %}"></script>



<script src="{% static 'assets/connect.js' %}"></script>


<div class="grid-container">
<img src="{{q.image_1.url}}">
<img src="{{q.image_2.url}}">
<img src="{{q.image_3.url}}">
<img src="{{q.image_4.url}}">
</div>

<h1 style="font-size:50px;position:absolute;top:6%;right:17%;" id="cquestion" data-answer="{{q.answer_text}}">{{q.question_text}}</h1>


<textarea id="commentsss" class="TextInput" style="resize: none;height:500px;width:1000px;border-radius: 10px;position: absolute;bottom: 20%;left: 60%;transform: translate(-50%, -50%);box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);outline:none;border: 10px solid #000000;font-size:28px;border-radius:20px;font-family: 'Montserrat', sans-serif;font-size:40px;" placeholder="Type your answer here..."></textarea>
<a class="myButtonddd" id="hintbutton"style="position:absolute; bottom:15%;left:43%;"><img src="{% static 'assets/questionhint.png' %}" style="width:80px;height:80px;position:relative;right:25px;" ></a>
<div id="hinthere"><span>HINT: {{q.hint_text}}</span></div>
    <div class="container center" >
  <div id="asdactivecorrect" class="card" style="background:red;position:absolute;left:80%;bottom:30%;min-height:600px;">
         <h2 id="asdCorrectOrNot">Correct!</h2><br>
    <h2>Answer:  {{q.display_answer}}</h2>

    <hr/>
    <p>Explanation:  <br><br>{{q.explanation_text}}
    </p>

  </div>
</div>



<button class="next round" style="display:none;position:absolute;bottom:50%;right:1%;" id="buttoon" href="" data-attr="{{Numberrr}}">&#8250;</button>


<button  class="previous round" id="buttoon2" href="" style="display:none;position:absolute;bottom:50%;left:1%;">&#8249;</button>
{% endblock %}




